<h2>Edit item '<%= @item.name %>'</h2>

<%= render "form.html", changeset: @changeset,
                        action: item_path(@conn, :update, @item) %>

<%= link "Back", to: section_path(@conn, :show, @item.section_id) %>
