<p id="progress-info"></p>

<%= link "Back", to: catalog_path(@conn, :show, @catalog.id) %>

<script>
  window.addEventListener("load", function() {
      var catalogExporter = require("web/static/js/catalog-exporter").default;
      var progressInfoEl = document.getElementById("progress-info");
      catalogExporter(<%= @catalog.id %>, progressInfoEl);
  }, false);
</script>
