<p id="progress-info">Exporting catalog <%= @catalog.name %>…</p>

<script>
  window.addEventListener("load", function() {
      var catalogExporter = require("web/static/js/catalog-exporter").default;
      var progressInfoEl = document.getElementById("progress-info");
      catalogExporter(<%= @catalog.id %>, progressInfoEl);
  }, false);
</script>
